/* 다른 브라우저간의 시각적 차이 방지 */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 동그라미 지우기 */
ul, ol{
  list-style: none;
  padding:0;
  margin:0;
}
/* 밑줄삭제, 일반글씨처럼 보임 */
a{
  text-decoration: none;
}
/* 기초설정 */
p{
  margin:0;
}
/* 버튼스타일 삭제 */
button{
  padding: 0;
  border: 0;
  background: none;
}
/* 헤더부분 전체 */
.container{
  display: flex;
  justify-self: flex-start;
  margin-top: 10px;
}
/* 헤더 왼쪽이미지 */
.left_icon{
  margin-right: auto;
}
/* 헤더 오른쪽이미지 */
.right_icon{
  display: flex;
  justify-items: center;
  align-items: center;
}
/* 헤더 왼쪽 이미지 사이즈 조절 */
.cate{
  width:50px; height:40px
}
/* 헤더 오른쪽 qr 이미지 사이즈 조절 */
.n_qr{
  width:60px; height:35px;
}
/* 헤더 오른쪽이미지 간격 및 배경색 */
.bgColor{
  margin-left: 10px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(228, 225, 225);
}
/* 헤더 오른쪽이미지 페이 */
.pay{
  height: 30px;
  width: 60px;
  border-radius: 30px;
}
/* 헤더 오른쪽이미지 메일 */
.mail{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* 검색창 위 로고 */
.nLogo{
  padding-top: 5%;
  padding-bottom: 20px;
  text-align:center;
}
/* 앱 사용하기 버튼 */
.appBtn{
  border: 1px solid #2586ee;padding: 9px 10px;font-size: 13px;font-weight: bold;
  color: #2586ee;border-radius: 3px;margin-right:6px;letter-spacing:-0.08em;
}
/* 검색창 */
.inputF{
  position: relative;
}
/* 검색창모양 */
.inputT{
  border: 1px solid #03c75a;font-size: 15px;font-weight: bold;
  color: #03c75a;border-radius: 4px;margin-right:6px;letter-spacing:-0.08em;
}
/* 인풋 참고말 색변경 */
input::placeholder{
  color:#ccc;padding-left: 15px;}
/* 이미지들 */
.sch_icon{
  position: absolute;
  right:118px;
  top: 50%;
  transform: translateY(-50%);
}
.sch_icons{
  padding-right: 10px;
}
.blind{display:none;}
/* main~사이즈 조절 */
#center{
  width:100%;max-width:800px;margin:0 auto;
  background:linear-gradient(white,rgb(230, 230, 230));
}
/* 검색창 가운데 정렬 */
.search{
  text-align:center;
}
/* 검색창 */
input{
  width: 600px;
  height: 50px;
}
/* 검색창 밑 목록들 */
.ull{
  width:75%;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 15%;
}
/* 목록들 간격 */
.ull .lis{
  width:25%;
}
/* 목록 글씨 */
.panP{
  font-size: 14px; color:rgb(162, 162, 162);
}
/* 목록 이미지, 글씨 가운데 정렬 */
.lis p, .imgCon{
  text-align: center;
}
/* 목록 이미지 모양 조절 */
.imgCon img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25%;
}
/* 오늘 날씨 */
.toA{
  display: flex;
  align-items: center;
}
/* 날씨 글씨 간격 */
.weat2{
  padding-left: 10px;
}
.toInfo{
  font-size: 20px;
}
.toInfo~p{
  font-size: 14px;
  padding-top: 5px;
}
.nowImg{
  width: 70px;
  height: 50px;
}
/* 공통적인 부분들 */
.con{
  background:#fff; margin:0 auto; width:95%;
  /* display: flex; */
  padding:20px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0 ;
  margin-top: 10px;
}
/* 오늘 날씨 양 옆으로 나누기(패딩없애기 위해 con밑에 작성 */
.todayWt{
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}
.weDD{
  display: flex;
}
/* 날씨, 주소 */
.weD{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.down{
  width: 15px;
  height: 10px;
}
.weD strong{
  padding-right: 15px;
  font-size: 20px;
}
.target{
  width: 20px;
  height: 20px;
}
/* 이번주날씨, 요일별 날씨 */
.wtList, .weList{
  display: table;
  width: 100%;
}
.wtList{
  padding-top: 25px;
  text-align: center;
}
/* 원하는 날씨, 미세먼지 등 나열 */
.weLi{
  display: inline-table;
  line-height: 30px;
}
/* 오늘 날씨 ul */
.weLi a{
  background-color: #eee;
  padding: 8px 10px;
  margin-right: 5px;
  border-radius: 3px;
}
/* 요일별 날씨 나열 */
.wtList .wtLi{
  display: table-cell;
  width: 11.111111111%;
}
/* 요일별 날씨 */
.wtbobo{
  display: inline-block;
  border-left: solid rgb(224, 224, 224);
  height: 25px;
}
/* 요일별 날씨 이미지 사이즈 조절 */
.wtSize{
  padding-top: 10px;
  padding-bottom: 5px;
  width: 25px;
  height: 25px;
}
/* 요일별 날씨 - 오늘이라는 글자 색 표시 변경 */
.wtToday{
  border: 1px solid #6e6d6d;font-size: 15px;font-weight: bold;
  color: #ffffff;border-radius: 15px;width: 45px;margin-left: 15px;
  background-color: #6e6d6d;
}
/* 코로나 정렬 */
.corona{
  display: flex;
}
/* 코로나 현황 사이즈 조절 */
.kocrn{
  width: 50%;
}
/* 코로나 글씨 간격 맞추기 */
.kocrnP{
  padding-top: 5px;
}
/* 코로나 이미지에 글씨 맞춤 */
.coCen{
  vertical-align: bottom;
  width: 25px;
  height: 25px;
}
/* 102주년 이미지 가운데 맞춤 */
.i_102{
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.i_102 img{
  width: 350px;
}
/* 앱 사용하기 시작점 */
.appA{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
/* 앱 전환 가운데 맞춤 */
.appAD{
  display: flex;
  align-items: center;
}
.appAD p{
  padding-left: 10px;
}
/* 앱 사용하기 버튼 */
.appBtn{
  border: 1px solid #2586ee;padding: 9px 10px;font-size: 13px;font-weight: bold;
  color: #2586ee;border-radius: 3px;margin-right:6px;letter-spacing:-0.08em;
}
/* 웹툰 전체,공지사항 가운데 정렬 */
.webtoon, .alarm{
  justify-items: center;
  align-items: center; 
}
/* 웹툰 정렬 */
.webStr{
  display: flex;
  justify-content: space-between;
}
/* 인기 주제 판! */
.panD{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 10px; color: rgb(133, 133, 133);
}
/* 판 Ul 두칸으로 나누기*/
.panUl{
  display: flex;
  flex-wrap: wrap;
}
/* 판 Li 사이즈 조절*/
.panLi{
  width: 50%;
  padding-right: 2px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/* 판 a 사이즈조절 및 색 */
.panLi a{
  background-color: rgb(244, 242, 242);
  padding: 10px 10px;
  width: 98%;
  display: inline-block;
  box-sizing: border-box;
}
/* ~판 글자와 ">"화살표 간격 */
.pan_img{
  display: flex;
  justify-content: space-between;
}
/* ~판 글자 색상 */
.panS{
  color: rgb(110, 110, 110);
}
/* 이미지와 글씨 간격 조정 */
.panImg{
  vertical-align: bottom;
}
/* 공지사항 */
.alarmA{
  display: flex;
  justify-content: space-between;
}
/* 알립니다 */
.alarmBtn{
  border:2px solid #03c75a;padding:3px 8px;font-size:14px;font-weight:bold;color:#03c75a;border-radius:20px;margin-right:6px;letter-spacing:-0.08em;
}
/* 네이버앱 업뎃~ */
.alarmP{
  font-size:15px;font-weight:600;color:rgb(121, 116, 116);letter-spacing:-0.08em;
}
/* 푸터 정렬 */
footer{
  margin-top: 5%;
  text-align:center;
}
.foot1{
  padding-bottom: 7px;
}
.foot1 a{
  padding-right: 3px;
}
.foot2{
  padding-bottom: 20px;
}
.foot2 a{
  padding-right: 3px;
}
.foot3 img{
  width: 100px;
  height: 25px;
  padding-bottom: 20%;
}





